get_prop(shell, custom_version_prop)

# Bootanim
allow shell bootanim_data_file:dir create_dir_perms;
allow shell bootanim_data_file:file create_file_perms;

# Custom ROM Hide
allow shell adb_data_file:dir { search getattr };
allow shell custom_rom_hide_data_file:file { create open read write getattr setattr unlink };
