allow untrusted_app_all lineage_profile_service:service_manager find;
allow untrusted_app_all theme_engine_service:service_manager find;

# Custom ROM Hide
allow untrusted_app_all custom_rom_hide_data_file:file { open read getattr };
allow gmscore_app custom_rom_hide_data_file:file { open read getattr };
allow priv_app custom_rom_hide_data_file:file { open read getattr };
allow isolated_app custom_rom_hide_data_file:file { open read getattr };
