app_domain(mosey_app)

net_domain(mosey_app)

typeattribute mosey_app coredomain;

binder_use(mosey_app)

allow mosey_app app_api_service:service_manager find;

dontaudit mosey_app fwmarkd_socket:sock_file write;
